@font-face {
    font-family: 'NexonFootballGothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NexonFootballGothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NexonFootballGothic/NexonFootballGothicBold.ttf') format("truetype");
    font-display: swap;
}